<%= form_with(model: admin) do |form| %>
    <% if admin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>
  
        <ul>
          <% admin.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.label :privilege_level %>
      <%= form.select(:privilege_level, options_for_select([['Member', 10], ['Event Creator', 20], ['Owner', 30]])) %>
    </div>

    <div class="field">
      <%= form.label :position_title %>
      <%= form.text_field :position_title %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  