<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email title</th>
      <th>Preferred Name</th>
      <th>Privilege Level</th>
      <th>Position Title</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.full_name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.preferred_name %></td>
        <td><%= admin.privilege_level %></td>
        <td><%= admin.position_title %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to 'Remove', delete_admin_path(admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
