<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Aggie Ambassadors</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between;">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="<%= organizations_path %>">Organizations</a></li>
        <% if member_signed_in? %>
          <% if is_owner? %>
            <li class="nav-item"><a class="nav-link" href="<%= members_path %>">Members</a></li>
          <% end %>
          <li class="nav-item"><a class="nav-link" href="<%= events_path %>">Events</a></li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if member_signed_in? %>
          <li class="nav-item">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- Original image -->
                <!--<img src="blank" class="rounded-circle" width="36" height="36">-->
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              </a>
              <ul class="dropdown-menu text-small" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.333333px, 45px, 0px); --bs-dropdown-border-radius: 0.675rem;" data-popper-placement="bottom-end">
                <li><a class="dropdown-item" href="<%= member_path(id: get_id) %>"><i class="bi bi-person-lines-fill"></i>My Account</a></li>
                <li><a class="dropdown-item" href="<%= edit_member_path(id: get_id) %>"><i class="bi bi-gear-fill"></i>Preferences</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-life-preserver"></i>Help</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="<%= destroy_member_session_path %>"><i class="bi bi-box-arrow-right"></i>Sign out</a></li>
              </ul>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary larger-btn" href="<%= root_path %>" role="button">Create account</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
