<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <p id="notice"><%= notice %></p>
        </section>
        <section class="page-info">
          <h1>Events</h1>
          <h5>View and register for events.</h5>
        </section>
        <section>
          <% @events.each do |event| %>
            <div class="card" style="margin-bottom:15px;">
              <div class="card-body" style="position:relative;">
                <h4 style="font-weight:500;" class="card-title"><% if event.title == nil or event.title == '' %>Untitled<% else %><%= event.title %><% end %></h4>
                <p class="card-text text-dark text-truncate" style="margin-top: 10px;margin-bottom: 3px;"><i class="bi bi-clock-fill text-primary"></i>
                  <% if event.event_date == nil %>
                    Unspecified
                  <% else %>
                    <%= event.event_date %>
                  <% end %>
                </p>
                <p class="card-text text-dark text-truncate"><i class="bi bi-geo-alt-fill text-danger"></i>
                  <% if event.location == nil or event.location == '' %>
                    Unspecified
                  <% else %>
                    <%= event.location %>
                  <% end %>
                </p>
                <p class="card-text">
                  <% if event.description == nil or event.description == '' %>
                    This event does not have a description.
                  <% else %>
                    <%= event.description %>
                  <% end %>
                </p>
                <% if !(@attendance_records_registered.include? event.id) %>
                  <a class="btn btn-primary larger-btn mb-0" href="<%= register_details_event_path(event) %>" role="button">Register</a>
                <% else %>
                  <a class="btn btn-danger larger-btn mb-0" href="<%= unregister_details_event_path(event) %>" role="button">Unregister</a>
                <% end %>
                <a class="btn btn-primary larger-btn mb-0" href="<%= event_path(event) %>" role="button">More details</a>
                <% if is_event_creater? %>
                  <div class="dropdown" style="right: 10px;position: absolute;top: 10px;">
                    <a class="btn btn-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-fill" style="margin:0;"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="<%= edit_event_path(event) %>">Edit</a></li>
                      <li><a class="dropdown-item" href="<%= delete_event_path(event) %>">Delete</a></li>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </section>
        <% if is_event_creater? %>
          <section>
            <a class="btn btn-primary larger-btn" href="<%= new_event_path %>" role="button">Add an event</a>
            <p>This action is only visible to administrators.</p>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</main>
