<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <p id="notice"><%= notice %></p>
        </section>
        <section>
          <h1><%= @event.title %></h1>
        </section>
        <section>
          <p>
            <strong>Event date:</strong>
            <%= @event.event_date %>
          </p>
          <p>
            <strong>Event time:</strong>
            <%= @event.event_time %>
          </p>
          <p>
            <strong>Location:</strong>
            <%= @event.location %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @event.description %>
          </p>
          <%= link_to 'Edit', edit_event_path(@event) %> |
          <%= link_to 'Back', events_path %>
        </section>
      </div>
    </div>
  </div>
</main>
