<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<% if @organizations.count == 0 %>
  <p>There are no organizations in the directory.</p>

<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= link_to organization.name, organization %></td>
          <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <td><%= link_to 'Remove', delete_organization_path(organization) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>

<br>

<% if admin_signed_in? %>
  <%= link_to 'Add an organization', new_organization_path %>
<% end %>



