<p id="notice"><%= notice %></p>

<h2><%= @organization.name %></h2>

<div>
<h3>Contact this organization</h3>
  <p><%= @organization.contact_name %> (<%= @organization.contact_title %>)</p>
  <p><strong>Email:</strong> <%= @organization.contact_email %></p>
  <p><strong>Phone:</strong> <%= @organization.contact_phone %></p>
</div>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_organization_path(@organization) %>
<% end %>

<%= link_to 'Return to directory', organizations_path %>
