<p id="notice"><%= notice %></p>

<p>Organization detail page</p>

<h1><%= @organization.name %></h1>
<p>This organization is tracked by Aggie Ambassadors.</p>

<br>

<div>
  <h3>Contact this organization</h3>

  <p>This is the designated contact person for this organization.</p>

  <p>
    <strong>Contact name:</strong>
    <%= @organization.contact_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= @organization.contact_email %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= @organization.contact_phone %>
  </p>

  <p>
    <strong>Contact title:</strong>
    <%= @organization.contact_title %>
  </p>
</div>

<br>

<%= link_to 'Return to directory', organizations_path %>

<br>
<br>

<% if is_owner? %>
  <div>
    <h4>Administrator actions</h4>
    <p>Only administrators can see this section.</p>
    <p><%= link_to "Edit this organization's information", edit_organization_path(@organization) %></p>
    <p><%= link_to "Remove this organization from the directory", delete_organization_path(@organization) %></p>
  </div>
<% end %>