<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section></section>
        <section class="page-info">
          <h1>Delete this member?</h1>
          <p>Are you sure you want to permantently delete this member? This action can't be undone.</p>
        </section>
        <section>
          <p>Full name: <%= @member.full_name %></p>
          <p>Email: <%= @member.email %></p>
        </section>
        <section>
          <%= form_for(@member, :method => 'delete') do |form| %>
            <%= form.submit 'Delete', { class: 'btn btn-danger larger-btn', role: 'button' } %>
            <%= link_to 'Cancel', :back, { class: 'btn btn-light larger-btn', role: 'button' } %>
          <% end %>
        </section>
      </main>
    </div>
  </div>
</div>
