<p id="notice"><%= notice %></p>

<h1>Members</h1>
<% if is_owner? %>
  <%= 
    link_to 'Download attandance record as an Excel file',
    members_path(format: :xlsx)
  %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email title</th>
      <th>Preferred Name</th>
      <th>Privilege Level</th>
      <th>Position Title</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>
        <td><%= member.email %></td>
        <td><%= member.preferred_name %></td>
        <td><%= member.privilege_level %></td>
        <td><%= member.position_title %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Remove', delete_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_member_path %>
