<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section class="page-info">
          <h1>Manage Members</h1>
          <h5>Manage registered members including administrators.</h5>
        </section>
        <% if is_owner? %>
          <section class="download-excel">
            <h3>Download Attendance</h3>
            <p>Export the full attendance history of all members.</p>
            <a class="btn btn-primary larger-btn" href="<%= members_path(format: :xlsx) %>" role="button">Download CSV<i class="bi bi-download" style="margin-left:10px;"></i></a>
          </section>
        <% end %>
        <section class="member-list">
          <h3>Member List</h3>
          <p>This list contains all registered members. Click one to view details, edit, or delete.</p>
          <div class="row" style="margin-top:25px;">
            <div class="col">
              <% @members.each do |member| %>
                <a href="<%= member_path(member) %>">
                  <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-md-auto">
                          <% if member.avatar_url == nil %>
                            <div class="profile-img"></div>
                          <% else %>
                            <img class="profile-img" src="<%= member.avatar_url %>">
                          <% end %>
                        </div>
                        <div class="col">
                          <% if member.full_name == nil %>
                            <h5 class="card-title my-0"><%= member.email %></h5>
                          <% else %>
                            <h5 class="card-title"><%= member.full_name %></h5>
                            <h6 class="card-subtitle text-muted"><%= member.email %></h6>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
        </section>
        <section>
          <a class="btn btn-primary larger-btn" href="<%= new_member_path %>" role="button">Add a user</a>
          <p>Add a new user to the members list.</p>
        </section>
        <section>
          <p>This page is only visible to administrators. Administrator accounts have elevated privledges and can make changes to organization, events, and member data.</p>
        </section>
      </div>
    </div>
  </div>
</main>
