<main>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <section>
          <p id="notice"><%= notice %></p>
        </section>
        <section class="page-info">
          <h1>Account</h1>
          <h5>View details about your profile and event history.</h5>
        </section>
        <section>
          <p><strong>Avatar</strong></p>
          <img src="<%= @member.avatar_url %>" style="width:60px;height:60px;margin-bottom:20px;">
          <p><strong>Email</strong><br>
            <%= @member.email %></p>
          <p><strong>Full Name</strong><br>
            <%= @member.full_name %></p>
          <p><strong>Preferred Name</strong><br>
            <% if @member.preferred_name == nil %>Not specified<% else %><%= @member.preferred_name %><% end %></p>
        </section>
        <section>
          <h3>Membership Requirement</h3>
          <p>Each year, you're required to attend at least one event to remain a member.</p>
          <% if AttendanceRecord.where(member_id: @member.id, attended: true).count > 0 %>
            <div class="alert alert-success" role="alert">
              <p><i class="bi bi-trophy-fill" style="padding-right:10px;"></i> Congratulations! You've met your membership requirement this year.</p>
            </div>
          <% else %>
            <div class="alert alert-warning" role="alert">
              <p><i class="bi bi-clock-fill" style="padding-right:10px;"></i> You have not met your membership requirement this year yet.</p>
            </div>
          <% end %>
        </section>
        <section>
          <h3>Attendance History</h3>
          <p>These are the events you've signed up for or confirmed. Older events may not be shown. These are used to determine if you've met your membership requirement.</p>
          <table class="table" style="margin: 30px 0;">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% AttendanceRecord.where(member_id: @member.id, attended: true).each do |attendance_record| %>
                <tr>
                  <td><%= Event.where(id: attendance_record.event_id).last.title %></td>
                  <td><%= Event.where(id: attendance_record.event_id).last.event_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p>If you're interested in attending an event, you can sign up for it in the <a href="<%= events_path %>">Events page</a>. For each event you sign up for, you'll recive an email a few days before the event to confirm. Click the link in the email to confirm you'll be attending.</p>
        </section>
        <section>
          <a class="btn btn-primary larger-btn" href="<%= edit_member_path(@member) %>" role="button">Edit account</a>
          <% if is_owner? %>
            <a class="btn btn-danger larger-btn" href="<%= delete_member_path(@member) %>" role="button">Delete account</a>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</main>
